.newsletter-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header h2 {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.popup-header .close-icon {
    cursor: pointer;
    font-size: 1.5em;
}

.popup-body h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.popup-body p {
    font-size: 1em;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 70%;
}

.input-group button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #d32f2f;
}

.thank-you-message h2 {
    font-size: 1.5em;
    color: #4caf50;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}